.leaflet-container {
    width: 600px;
    height: 300px;
    margin: 10px;
}

/* LEAFLET CSS */

.map-page-div {
    display: flex;
    justify-content: center;
}
.map-content-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 1fr;
    justify-content: center;
}

.map-display-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 860px;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    margin: 0px;
    margin-top: 20px;
    border: solid;
    border-color: rgb(13, 65, 41);
}

.map-info-box {
    width: 100%;
    margin-left: 50px;
}

.map-div {
    width: 840px;
    height: 800px;
}

.city-select-div {
    display: flex;
    justify-content: center;
    width: 100%;   
}

.city-select-div button {
    margin: 20px 20px 0 20px;
    height: 40px;
}

/* Scooter markers in different colors */
.scooter-marker-used {
    filter: hue-rotate(0deg);
  }
  
  .scooter-marker-available {
    filter: hue-rotate(260deg);
  }
  
  .scooter-marker-charging {
    filter: hue-rotate(190deg);
  }
  
  .scooter-marker-out-of-batteries {
    filter: hue-rotate(160deg);
  }
  
  .charging-popup {
    text-align: center;
    font-size: 16px;
    width: 60px;
    font-weight: 600;
  }