/* LEAFLET MAP PAGE */
.map-page-div {
    display: flex;
    justify-content: center;
}
.map-content-div {
    display: grid;
    grid-template-columns: 250px 200px 800px 200px 250px;
    grid-template-rows: 80px 400px 200px;
    justify-content: center;
}

.map-display-div {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 800px;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.leaflet-container {
    margin: 0;
    height: 100%;
    width: 700px;
}

.map-info-box {
    width: 100%;
    margin-left: 50px;
    margin-top: 20px;
    grid-row: 3 / 4;
    grid-column: 3 / 4 ;
}

.city-select-div {
    display: flex;
    justify-content: center;
    width: 100%;   
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.city-select-div button {
    margin: 20px 20px 0 20px;
    height: 40px;
    cursor: pointer;
    border-radius: 0;
}

.right-panel {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
.map-list-div {
    position:relative;
    height: 400px;
    width: 200px;
    overflow-y: auto;
}

/* Selected item display */

.selected-display {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(207, 235, 210);
    width: 200px;
    height: 400px;
    padding: 10px;
}

.selected-display button {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 500;
    width: 200px;
    color: white;
    background-color: #67AC5B;
    border: none;
    cursor: pointer;   
    text-align: center;
}

.selected-display button:hover {
    filter: brightness(1.1);
}

.selected-display h2 {
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.selected-display p {
    margin: 10px;
}

.display-label {
    font-weight: 600;
}

/* Single station entry */

.single-station-div {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    background-color: white;
    margin: 3px 0 10px 10px;
    padding: 5px;
    width: 160px;
    height: 20px;
    cursor: pointer;
    border: solid 1px;
    border-radius: 5px;
}


.selected-station-div {
    background-color: #d4fccd;
}
.single-station-div p {
    margin: 0;
}

/* Single scooter entry */

.single-scooter-div {
    font-weight: 600;
    background-color: white;
    margin: 3px 0 10px 10px;
    padding: 5px;
    width: 160px;
    height: 20px;
    cursor: pointer;
    border: solid 1px;
    border-radius: 5px;
}

.single-scooter-div p {
    margin: 0;
}

.selected-scooter-div {
    background-color: #d4fccd;
}

/* Select mode */

.mode-select-div {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.select-button {
    font-weight: 500;
    color: white;
    background-color: #67AC5B;
    border: none;
    margin: 2px 20px 0 0;
    width: 140px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
}

.mode-select-button {
    border-radius: 40px;
    width: 50px;
    padding: 0;
    height: 50px;
    background-size: 45px 45px;
    background-repeat: no-repeat;
    margin: 5px;
}

.scooter-mode-button {
    background-image: url("../assets/scooter.png");
}

.station-mode-button {
    background-image: url("../assets/charging.png");
}

.mode-image {
    width: 25px;
    height: 25px;
}

.select-button:hover {
    filter: brightness(1.1);
}

.selected-button {
    border: solid;
    border-color: black;
}

/* Scooter markers in different colors */
.scooter-marker-used {
    filter: hue-rotate(0deg);
  }
  
  .scooter-marker-available {
    filter: hue-rotate(280deg);
  }

  .scooter-marker-available-parking {
    filter: hue-rotate(260deg) brightness(70%);
  }
  
  .scooter-marker-charging {
    filter: hue-rotate(190deg);
  }
  
  .scooter-marker-out-of-batteries {
    filter: hue-rotate(180deg);
  }

  .scooter-marker-disabled {
    filter: grayscale(100%)
  }
  

  .charging-icon {
    filter: grayscale(100%)
  }

  .selected-scooter-icon {
    color:#621414;
    border: solid;
    border-radius: 100px;
    padding: 20px;
  }
  
 /* Selected category */ 

 .category-button {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 3px;
    cursor: pointer;
 }

 .battery-warning-text{
    color: red
 }

.station-scooter-number {
    text-align: right;
}