/* Colors for scooter status lights in list */

.scooter-status-1 {
    color:#00B9FF
}

.scooter-status-2 {
    color:rgb(83, 221, 97);
}

.scooter-status-3 {
    color:rgb(5, 77, 12);
}

.scooter-status-4 {
    color:rgb(231, 237, 51);
}

.scooter-status-5 {
    color:#FE7331
}

.scooter-status-0 {
    color:rgb(97, 97, 97);
}

.scooter-status-6 {
    color:rgb(255, 0, 238);
}

.status-symbol-div {
    margin-top: 70px;
    grid-column: 5/6;
    grid-row: 1/2;
}
.status-symbol-div ul {
    list-style: none;
}

/* Category select colors */

/* Colors for scooter status lights in list */

.category-status-1 {
    background-color:#00B9FF
}

.category-status-2 {
    background-color:rgb(83, 221, 97);
}

.category-status-3 {
    background-color:rgb(5, 77, 12);
}

.category-status-4 {
    background-color:rgb(231, 237, 51);
}

.category-status-5 {
    background-color:#FE7331
}

.category-status-0 {
    background-color:rgb(97, 97, 97);
}

.category-status-6 {
    background-color:rgb(255, 0, 238);
}