* {
  background-color: whitesmoke;
  color: rgb(0, 119, 0);
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav {
  list-style-type: none;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}
h1 {
  color: rgb(249, 200, 4);
}
.button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
img {
  max-width: 100%;
}
.authform-container {
  display: flex;
  flex-direction: row;

}
.mypage-container {
  display: flex;
  flex-direction: column;
}
.mypage-subcontainer1 {
  display: flex;
  flex-direction: row;
}
.login-form,
.register-form,
.mypage-personalinfo,
.mypage-options {
  flex: 1;
  margin: 30px;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: powderblue;
  color: black;
  text-align: left;
}

table th,
td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #ddd;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
