@import "./css/map.css";
@import "./css/status-colors.css";
@import "./css/customer.css";


.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav {
  padding-left: 0;
  list-style-type: none;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}


h2 {
  text-align: center;
}

.buttonscity {
  text-align: center;
  background-color: blueviolet;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: powderblue;
  color: black;
  text-align: left;
}

table th,
td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #ddd;
}

.header {
  display: flex;
  background-color: #B8ECFF;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.header h1 {
  margin: 0;
  margin-top: 30px;
  width: 100%;
  text-align: center
}


/* listor och cards */
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 48%;
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 2em;
}

.fat {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.slim {
  color: #666;
}

button {
  padding: 0.4em 1.2em;
  font-size: 1.2em;
}
