
.App {
  background-color: powderblue;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav {
  list-style-type: none;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

h2 {
  text-align: center;
}

.buttonscity {
  text-align: center;
  background-color: blueviolet;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #05ac50;
  color: rgb(183, 195, 201);
  text-align: left;
}

table th,
td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #ddd;
}


/* LEAFLET CSS */

.map-page-div {
  display: flex;
  justify-content: center;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}


.map-div {
  width: 800px;
  height: 800px;
}



/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
